* {
    box-sizing: border-box;
  }

body {
    background: #eef9bf;
}

.titulo {
    
    text-align: center;
    width: auto;
    height: 63px;
    margin: 40px auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;

}
.main-content {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px 34px;
    margin: 122px 116px auto;
    perspective: 1000px;
}

.cards {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}

.flip {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.parrot {
width: 100px;
height: 100px;
margin: 24px 22px 10px 7px;

}
